{% extends "main.html" %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .page{
    display: flex;
    justify-content: space-between;
  }
</style>

<h1>My Posts</h1>
<hr />

<div class="home-container">
    <div>
        <a href="{% url 'createpost' %}">Create Post</a>
        <hr />
    </div>

    <div>
        {% for post in posts %}
        <a href="{% url 'profile' post.user.id %}"><p>@{{post.user.username}}</p></a>
        {% if request.user == post.user %}
        <a href="{% url 'updatepost' post.id %}">Update</a> |
        <a href="{% url 'deletepost' post.id %}">Delete</a>
        {% endif %}
        <h3><a href="{% url 'postdetails' post.id %}">{{post.title}}</a></h3>
        <img
            width="400px"
            height="500px"
            style="border: 2px solid black"
            src="/media/{{post.post_image}}"
        />

        <hr />
        
        {% endfor %}
    </div>
</div>

{% endblock %}
